# nginx
SERVER_NAME=sadic.unisi.it

# sadicweb
DEBUG=False
DJANGO_SUPERUSER_USERNAME=superuser
DJANGO_SUPERUSER_EMAIL=mail@mail.example
DJANGO_SUPERUSER_PASSWORD=password
PROJECT_ROOT=/opt
SECRET_KEY=klajsfkljasdfkljasdfkljadsfjklads

# database 
DB_HOST=sadic_database
DB_PORT=3306
DB_NAME=sadic
DB_USER=sadic
DB_PASSWORD=nomoresecret

# phpmyadmin
PMA_HOST=mariadb
PMA_PORT=3306
PMA_ARBITRARY=1
